node_modules
.vscode/
.DS_Store
npm-debug.log
tests/tmp/*
tests/credentials.json
tests/cookies
php-*
sandbox.*
Untitled*
.idea
.env

# Directories
core
decorators
entities
errors
feeds
repositories
responses
services
tools
samples
types